.measurement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  font-size: 1rem;
}

.display-div {
  display: flex;
  text-align: start;
  flex-direction: column;
  height: 700px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 50px;
  border-radius: 12px;
  width: 900px;
  overflow: auto;
  margin-left: 30px;
}

.display-div::-webkit-scrollbar {
  display: none;
}

.buttons-add-div {
  display: flex;
  text-align: start;
  flex-direction: row;
  justify-content: space-around;
}

.summary-button {
  background-color: lightblue;
  color: black;
  padding: 20px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  width: 200px;
}

.measurement input,
.measurement select {
  border: 2px solid #aaa;
  border-radius: 5px;
  margin: 15px 5px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  width: 200px;
}

.errorD {
  color: red;
}

table {
  border-color: white;
  margin-top: 10px;
}

table th {
  color: black;
  background-color: gray;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

table td {
  color: white;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

.btnDel {
  color: darkred;
  background-color: transparent;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  border: none;
}

h2 {
  margin: 10px 0;
  text-align: center;
}

#tableMes th {
  color: black;
  background-color: gray;
  font-weight: bold;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

table #normal {
  background-color: green;
}

table #above {
  background-color: red;
}

table #below {
  background-color: orange;
}

.btn-add {
  background-color: limegreen;
  color: black;
  padding: 20px;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  width: 200px;
}

.measurement-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
  font-size: 15px;
}

.date-from-to {
  font-size: 15px;
}

.date-from-to input[type='date'] {
  color: black;
}

.date-from-to input[type='submit'] {
  margin-left: 20px;
  color: black;
}
