@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 800% 800%;
  position: relative;
  animation: identifier 10s ease-in-out infinite;
}

@keyframes identifier {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
}

 nav .logo{
   padding: 22px 20px;
   height: 80px;
   float: left;
   font-size: 24px;
   font-weight: bold;
   text-transform: uppercase;
   color: #fff;
   font-family: "Sacramento";
 }
 .logo a{
   text-decoration: none;
   color: #fff;
 }

 nav ul{
   list-style: none;
   float: right;
   margin: 0;
   padding: 0;
   display: flex;
 }

 nav ul li a{
   line-height: 80px;
   color: #fff;
   padding: 12px 30px;
   text-decoration: none;
   font-size: 14px;
   font-weight: bold;
   text-transform: uppercase;
 }
 
 nav ul li a:hover{
   background: rgba(0, 0, 0, 0.7);
   border-radius: 7px;
 }