@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100&family=Noto+Sans+Vithkuqi&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.error {
  color: red;
  margin: 10px 0px;
}

nav {
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 40px;
  border-bottom: 1px solid #fff;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 15px 0;
  cursor: pointer;
}

nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 20px;
  text-align: center;
  order: 3;
}

nav ul li.items::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: greenyellow;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}

nav ul li.logo {
  flex: 1;
  font-family: 'Geologica';
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

nav ul li:hover a {
  color: greenyellow;
  text-decoration: none;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn.show i:before {
  content: '\f00d';
}

footer {
  border-top: 1px solid #fff;
  background: black;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

.registerMessage {
  border: 1ps solid red;
}

.main_header {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 20px 20px;
  border-radius: 9px;
  text-align: center;
}

.active {
  color: cyan;
}

.close span {
  font-size: 30px;
}

.modal-content {
  width: 100%;
}

.modal-dialog-centered {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-body {
  color: black;
}
.modal-title {
  margin: 10px 0;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 768px) {
  header .logo {
    padding: 0;
    height: 50px;
    margin-left: 10px;
  }

  header ul li {
    padding: 0;
  }

  header ul li a {
    padding: 7px;
  }

  header {
    width: 100%;
  }

  nav {
    padding: 5px 30px;
  }

  nav ul li.items {
    width: 100%;
    display: none;
  }

  nav ul li.items.show {
    display: block;
  }

  nav ul li.btn {
    display: block;
  }

  nav ul li.items:hover {
    box-shadow: inset 0 0 5px #33ffff, inset 0 0 10px #66ffff;
    border-radius: 5px;
  }

  nav ul li.items:hover:after {
    opacity: 0;
  }
}
